#container__history {
    background-color: var(--cinza-claro);
    padding: 50px 0 40px 0;
    margin-top: -4px;
    /* border-radius: 30px; */
}

#container__history h2 {
    font-size: 16px;
    width: 200px;
    color: var(--rosa);
    text-align: center;
}

#history__title--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#history--destaque {
    font-family: var(--font-wild);
    font-size: 60px;
    margin-top: -15px;
    color: var(--rosa);
}

#history__text--container {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.history__p {
    color: var(--cinza-escuro);
    margin-bottom: 15px;
}