nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cinza-claro);
    height: 100px;
    width: 100%;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}

#container__nav--logo {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#nav__logo--img {
    width: 75px;
    /* margin: 28px 0 0 30px; */
}

#nav__links {
    visibility: hidden; /* Mantém o elemento escondido, mas não o remove do fluxo */
    opacity: 0;
    /*max-height: 0; /* Colapsa o menu */
    overflow: hidden;
    transition: opacity 0.2s ease-in-out, max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
    position: absolute;
    top: 70px; /* Ajuste para ficar abaixo do logo */
    right: 15px;
    width: 50%;
    border-radius: 15px;
    background-color: var(--amarelo); /* Fundo do menu quando estiver aberto */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* #nav__links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
} */

#nav__links--lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

#nav__links a {
    text-decoration: none;
    color: var(--branco);
}

#nav__links a:hover {
    color: var(--rosa);
}

#nav__button--orcamento {
    width: 150px;
    background: none;
    border: none;
    font-family: var(--font-futura);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: var(--branco);
}

#nav__links.active {
    visibility: visible;
    opacity: 1;
    max-height: 500px; /* Um valor alto o suficiente para que o menu se expanda totalmente */
    transition: opacity 0.2s ease-in-out, max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* Estilos para o botão do hambúrguer */
.nav__toggle {
    display: block; /* Mostra o botão por padrão no mobile */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em; /* Tamanho do ícone */
    color: var(--cinza-escuro);
    /* position: absolute;
    /* right: 35px; Posição à direita no mobile 
    top: 35px;*/
    z-index: 1000; /* Garante que o botão fique acima do menu */
    transition: opacity 0.2s ease-in-out, max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* .nav__toggle i {
    transition: opacity 0.2s ease-in-out, max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
} */

/* Media query para Desktop (a partir de 768px ou 992px) */
/* @media (min-width: 768px) {
    #nav__links {
        display: flex !important; /* !important garante que o display flex não seja sobrescrito pelo JS
        position: static;
        width: auto;
        flex-direction: row;
        box-shadow: none;
        padding: 0;
    }

    .nav__toggle {
        display: none; /* Esconde o botão do hambúrguer no desktop 
    }

    #nav__links--lista {
        flex-direction: row;
        margin-bottom: 0;
    }

    #nav__links--lista li {
        padding: 0;
    }
} */

@media (min-width: 992px) {
    nav {
        padding: 0 20%; /* Mais respiro nas laterais */
        height: 100px;
    }

    #container__nav--logo {
        width: auto; /* IMPORTANTE: No desk o container do logo não pode ter 100% */
    }

    .nav__toggle {
        display: none; /* Esconde o presente no desk */
    }

    #nav__links {
        visibility: visible;
        opacity: 1;
        position: static; /* Volta para o fluxo normal */
        background: none;
        box-shadow: none;
        width: auto;
        flex-direction: row;
        gap: 40px;
        padding: 0px;
        overflow: visible; /* Garante que o botão apareça sem cortes */
    }

    #nav__links--lista {
        flex-direction: row;
        gap: 30px;
    }

    #nav__links a {
        color: var(--cinza-escuro); /* Texto escuro no fundo claro */
        font-size: 0.85rem;
        transition: color 0.3s;
    }

    #nav__links a:hover {
        color: var(--rosa);
    }

    /* O Botão "Premium" no Desktop */
    #nav__button--orcamento {
        background-color: var(--rosa);
        color: var(--branco) !important;
        padding: 12px 25px;
        border-radius: 30px;
        font-size: 0.8rem;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px rgba(212, 59, 114, 0.2);
    }

    #nav__button--orcamento:hover {
        background-color: var(--amarelo);
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    }
}